*{
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    background-color: rgb(49, 47, 47);
}

img {
    width: 220px;
    height: 320px;
    margin-top: 20px;
    border-radius: 5%;
    border: solid 5px blue;
}

div {
    width: 320px;
    height: 860px;
}

h1 {
    margin-top: 31px;
    margin-bottom: 8px;
    color: white;
}

p {
    color: white;
}

ul {
    margin-top: 35px;
    
}

li {
    list-style: none;
    text-align: center;
}

a {
    color: white;
    display: block;
    margin-top: 18px;
    text-decoration: none;
    background-color: blue;
    padding: 18px;
    border-radius: 5px;
}

a:hover {
    background-color: white;
    color: green;
}

footer {
    color: white;
    margin-top: 18px;
}

.container {
    width: 320px;
    background-color: black;
    text-align: center;
    margin-left: auto;
    margin-right: auto;    
}
/* Eu separei a tag "a" ao invés da tag "li" */